<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
    <!-- Include MathJax -->
    {% include head.html %}
    <!-- Minima theme includes -->
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <script type="application/javascript" src="{{ '/assets/main.js' | relative_url }}"></script>
  </head>
  <body>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
